<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container py-2">
      <%= link_to "Wpg Online Store", root_path, class: "navbar-brand" %>

      <div class="d-flex flex-wrap align-items-center gap-2 ms-lg-auto">
        <%= link_to "Products", products_path, class: "nav-link px-2" %>
      </div>
    </div>
  </nav>
</header>
